---
layout: default
title: Publications
sec: publications
permalink: /publications/
---

<h1>Publications</h1>

<ul class="publications">
    {% for item in site.publications reversed -%}
        <li>
            <span class="title"><a href="{{ item.url }}">{{ item.title | strip }}</a></span>
            {% if item.authors %}
                <span class="authors">{% include author_list.html authors=item.authors %}.</span>
            {% endif %}
            <span class="venue">{{ item.conf }}, {{ item.date | date: "%Y" }}.</span>
        </li>
    {% endfor %}
</ul>